@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --p-bg-color: #fff;
    --p-color: #000000;
    --main-color: #fff;
    /* --margin- */
    --box-shadow: rgba(50,50,93,.25) 0px 13px 27px -5px,rgba(0,0,0,.3) 0px 8px 16px -8px;
}


/* Utility */

.mb-1 {
    margin-bottom: 0.5rem;
}

/* @media() {

} */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: rgb(54, 54, 54);
 
    background-size: cover;
}


.container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 0 2rem;
    color: #000;
    width: 100%;
    max-width: 960px;
    margin: 1rem auto 1rem auto;
    margin: 1rem auto 1rem auto;
      
}

.container > div {
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 4px;
}
/* Header */

/* 
header {
    position: sticky;
    z-index: 5;
    top: 0;
} */